:root {
	/* Brand colors */
	--b-c1: #44355b;
	--b-c2: #31263e;
	--b-c3: #221e22;
	--b-c4: #eca72c;
	--b-c5: #ee5622;

	/* Layout colors */
	/* Background colors */
	--bg-light: #f3f3f3;
	--bg-dark: #1b1b1b;

	/* Primary colors */
	--p-main: #44355b;
	--p-hc: #ffffff;
	--p-lc: #000000;

	/* Light mode colors */
	--l-hc1: #1b1b1b;
	--l-hc2: #323232;
	--l-lc1: #dedede;

	/* Dark mode colors */
	--d-hc1: #f3f3f3;
	--d-hc2: #dedede;
	--d-lc1: #323232;

	/* Denotive colors */
	--den-error: #de0101;
	--den-success: #339311;
	--den-disabled-light: #ababab;
	--den-disabled-dark: #666666;

	/* Interactive colors */
	--i-p-main: #0b67d4;
	--i-p-light: #2785f3;
	--i-p-lighter: #569ff6;
	--i-p-dark: #0952aa;
	--i-p-darker: #063b79;
	--i-p-hc: #ffffff;
	--i-p-lc: #000000;
}

/* Example usage */
body {
	background-color: var(--bg-light);
	color: var(--l-hc1);
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--bg-light);
}

/* Brand colors */
.brand-color-1 {
	background-color: var(--b-c1);
	color: white;
}
.txt.brand-color-1 {
	color: var(--b-c1);
	background-color: transparent;
}

.brand-color-2 {
	background-color: var(--b-c2);
	color: white;
}
.txt.brand-color-2 {
	color: var(--b-c2);
	background-color: transparent;
}

.brand-color-3 {
	background-color: var(--b-c3);
	color: white;
}

.txt.brand-color-3 {
	color: var(--b-c3);
	background-color: transparent;
}

.brand-color-4 {
	background-color: var(--b-c4);
	color: white;
}
.txt.brand-color-4{
	color: var(--b-c4);
	background-color: transparent;
}

.brand-color-5 {
	background-color: var(--b-c5);
	color: white
}
.txt.brand-color-5 {
	color: var(--b-c5);
	background-color: transparent;
}

/* Background colors */
.bg-light {
	background-color: var(--bg-light);
	color: var(--l-hc1);
}

.bg-dark {
	background-color: var(--bg-dark);
	color: var(--d-hc1)
}

/* Primary colors */
.p-main {
	background-color: var(--p-main);
	color: var(--p-hc, "black");
}
.txt.p-main {
	color: var(--p-main);
	background-color: transparent;
}

.p-hc {
	background-color: var(--p-hc);
}
.txt.p-hc {
	color: var(--p-hc);
	background-color: transparent;
}

.p-lc {
	background-color: var(--p-lc);
}
.txt.p-lc {
	color: var(--p-lc);
	background-color: transparent;
}

/* Light mode colors */
.l-hc1 {
	background-color: var(--l-hc1);
}
.txt.l-hc1 {
	color: var(--l-hc1);
	background-color: transparent;
}

.l-hc2 {
	background-color: var(--l-hc2);
}
.txt.l-hc2 {
	color: var(--l-hc2);
	background-color: transparent;
}

.l-lc1 {
	background-color: var(--l-lc1);
}
.txt.l-lc1 {
	color: var(--l-lc1);
	background-color: transparent;
}

/* Dark mode colors */
.d-hc1 {
	background-color: var(--d-hc1);
}
.txt.d-hc1 {
	color: var(--d-hc1);
	background-color: transparent;
}

.d-hc2 {
	background-color: var(--d-hc2);
}
.txt.d-hc2 {
	color: var(--d-hc2);
	background-color: transparent;
}

.d-lc1 {
	background-color: var(--d-lc1);
}
.txt.d-lc1 {
	color: var(--d-lc1);
	background-color: transparent;
}

/* Denotive colors */
.den-error {
	background-color: var(--den-error);
	color: white;
}
.txt.den-error {
	color: var(--den-error);
	background-color: transparent;
}

.den-success {
	background-color: var(--den-success);
	color: white
}
.txt.den-success {
	color: var(--den-success);
	background-color: transparent;
}

.den-disabled-light {
	background-color: var(--den-disabled-light);
	color: grey
}
.txt.disabled-light{
	color: var(--den-disabled-light);
	background-color: transparent;
}

.den-disabled-dark {
	background-color: var(--den-disabled-dark);
	color: grey
}
.txt.den-disabled-dark{
	color: var(--den-disabled-dark);
	background-color: transparent;
}

/* Interactive colors */
.i-p-main {
	background-color: var(--i-p-main);
	color: var(--i-p-hc);
}
.txt.i-p-main {
	color: var(--i-p-main);
	background-color: transparent;
}

.i-p-light {
	background-color: var(--i-p-light);
	color: var(--i-p-hc);
}
.txt.i-p-light {
	color: var(--i-p-light);
	background-color: transparent;
}

.i-p-lighter {
	background-color: var(--i-p-lighter);
	color: var(--i-p-hc);
}
.txt.i-p-lighter {
	color: var(--i-p-lighter);
	background-color: transparent;
}

.i-p-dark {
	background-color: var(--i-p-dark);
	color: var(--i-p-hc);
}
.txt.i-p-dark {
	color: var(--i-p-dark);
	background-color: transparent;
}

.i-p-darker {
	background-color: var(--i-p-darker);
	color: var(--i-p-hc);
}
.txt.i-p-darker {
	color: var(--i-p-darker);
	background-color: transparent;
}

.i-p-hc {
	background-color: var(--i-p-hc);
}
.txt.i-p-hc {
	color: var(--i-p-hc);
	background-color: transparent;
}

.i-p-lc {
	background-color: var(--i-p-lc);
}
.txt.i-p-lc {
	color: var(--i-p-lc);
	background-color: transparent;
}

/* Media query for dark mode */
@media (prefers-color-scheme: dark) {
	body {
		background-color: var(--bg-dark);
		color: var(--d-hc1);
	}
}
